# ------------------------------------------------------------------
# CONFIGURACIÓN DEL ENTORNO LOCAL (Docker)
# ------------------------------------------------------------------
docker-compose.yml
nginx.conf
.env

# ------------------------------------------------------------------
# SISTEMA OPERATIVO / EDITOR
# ------------------------------------------------------------------
.DS_Store
Thumbs.db
.vscode/

# ------------------------------------------------------------------
# DEPENDENCIAS Y BUILDS (Si usaras npm/Godot)
# ------------------------------------------------------------------
/node_modules
/build
/dist

# Archivos de caché
*.log